﻿@{
    ViewBag.Title = "Статьи";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{ ViewBag.Title = "Статьи";}

<div id="GoodAllPage">
    <br/>
    <br/>
    <br />
    <br />
    <div class="col-md-12 ">
        <button type="button" id="AddGood" class="btn btn-primary">Добавить</button>
        <button type="button" id="EditGood" class="btn btn-primary disabled">Изменить</button>
        <button type="button" id="DeleteGood" class="btn btn-danger disabled">Удалить</button>
        <button type="button" id="ShowGood" class="btn btn-success disabled">Показать статью</button>
    </div>
</div>

@{Html.RenderPartial("IndexPartial/Good");}
