﻿html, body, #map_canvas {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}


#left_menu {
    width: 150px;
    height: 200px;
    position: fixed;
    top: 50%;
    margin-top: -100px;
    _position: absolute;
    _top: expression( 130 + eval(document.documentElement.scrollTop||document.body.scrollTop) + 'px' );
    border: 1px dotted #5E8CB3;
    background-color: #CFDDE9;
}

.ajax-loading {
    visibility: visible;
    display: block;
    position: fixed; /* чтобы окно было в видимой зоне в любом месте */
    top: 45%; /* отступаем сверху 45%, остальные 5% подвинет скрипт */
    left: 50%; /* половина экрана слева */
    z-index: 999;
    background-color: #ADD8e6;
    border: 1px solid #FFF;
    text-align: center;
    width: 300px;
    margin-left: -150px;
}

.LockOff {
    display: none;
    visibility: hidden;
}

.LockOn {
    display: block;
    visibility: visible;
    position: absolute;
    z-index: 900;
    top: 0px;
    left: 0px;
    width: 105%;
    height: 105%;
    background-color: #111;
    /*text-align: center; 
    padding-top: 20%; 
    filter: blur(opacity=75); */
    opacity: 0.5;
}

.page-panel {
    left: 0px;
    height: 40px;
    position: fixed;
    _position: absolute;
    font-family: Helvetica,Arial,sans-serif;
    border-left-width: 0;
    border-right-width: 0;
    zoom: 1;
    z-index: 9999;
    border: 1px solid #5E8CB3;
    background: #CFDDE9;
    color: black;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#5E8CB3 ),to(#CFDDE9));
    background-image: -webkit-linear-gradient( #5E8CB3,#CFDDE9);
    background-image: -moz-linear-gradient( #5E8CB3,#CFDDE9);
    background-image: -ms-linear-gradient( #5E8CB3,#CFDDE9);
    background-image: -o-linear-gradient(#5E8CB3,#CFDDE9);
    background-image: linear-gradient( #5E8CB3,#CFDDE9);
    width: 100%;
}

#okAlertButton {
    left: 80px;
    bottom: 0;
    position: relative;
}

#top {
    top: 0px;
}

#down, #footer_sidebar {
    bottom: 0;
}

body {
    height: 100%;
}

body, #top, #down {
    /*min-width: 1490px;*/ /*624px;*/
    width: 100%;
}

#center {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 47px;
    padding-bottom: 40px;
    min-height: 809px;
    position: relative;
}

.buttonList {
    position: relative;
    height: 400px;
}

    .buttonList a {
        text-align: center;
        text-decoration: none;
        color: #000;
        text-shadow: 1px 1px 2px #000;
        position: absolute;
        cursor: pointer;
        width: 140px;
        height: 120px;
    }

        .buttonList a div {
            text-align: center;
            background: #f0b310;
            background: -moz-linear-gradient(top, #fbc83e, #f0b310); /* Firefox 3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, from(#fbc83e), to(#f0b310)); /* Chrome 1-9, Safari 4-5 */
            background: -webkit-linear-gradient(top, #fbc83e, #f0b310); /* Chrome 10+, Safari 5.1+ */
            background: -o-linear-gradient(top, #fbc83e, #f0b310); /* Opera 11.10+ */
            background: -ms-linear-gradient(top, #fbc83e, #f0b310); /* IE10 */
            background: linear-gradient( #fbc83e, #f0b310); /* CSS3 */
            border-radius: .6em;
            border: 2px solid #f0b310;
            color: #fff;
            height: 100px;
            margin-left: 18px;
            margin-right: 18px;
        }

        .buttonList a span {
            position: relative;
            margin-top: 10px;
            display: block;
            background: none;
            color: #000;
            font-size: 14px;
            overflow: visible;
        }

        .buttonList a.leftTop {
            left: 25%;
            margin-left: -70px;
            top: 10px;
        }

        .buttonList a.rightTop {
            right: 25%;
            margin-right: -70px;
            top: 10px;
        }

        .buttonList a.leftBottom {
            left: 25%;
            margin-left: -70px;
            bottom: 10px;
        }

        .buttonList a.rightBottom {
            right: 25%;
            margin-right: -70px;
            bottom: 10px;
        }

.btn-img {
    padding: 5px;
    width: 100%;
    height: 100%;
}

.marker-content {
    cursor: pointer;
}


/* LEFT SIDEBAR */

#left_sidebar {
    width: 250px;
    bottom: 0px;
    top: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 5px;
    height: 100%;
}

.top_image {
    margin-top: 30px;
    margin-bottom: 40px;
    text-align: center;
}

.imgCarModel {
    height: 103px;
    width: 140px;
}

.label {
    /*font-size: 18px;*/
    margin-left: 20px;
    /*font-family: sans-serif;*/
}

.value_style {
    text-align: center;
    /*font-size: 16px;*/
    /*text-transform: uppercase;*/
    font-weight: 500;
    position: relative;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 5px;
}

.value1_style {
    text-align: center;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 5px;
}

.value_table {
    text-align: center;
    /*font-size: 16px;*/
    min-width: 30px;
    position: relative;
    text-transform: uppercase;
    font-weight: 500;
}

.value_red {
    background: #FF0000;
}

.value_orange {
    background: #FF9900;
}

.value_yellow {
    background: #FFDF00;
}

.value_gray {
    background: #D3D3D3;
}

.value_green {
    background: #00CC00;
}

.value2_style {
    text-align: center;
    color: #000099;
    /*text-transform: uppercase;*/
    font-weight: 600;
    position: relative;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 30px;
    border: 2px solid lightgray;
}

footer {
    margin-bottom: 50px;
    width: 250px;
    position: relative;
    /*border: 1px solid lightgray;*/
}

    footer .position_element {
        text-align: center;
        font-style: italic;
        margin: 10px 0;
    }

    footer div input {
        /*border: 1px solid  #5E8CB3; */
        border-radius: 5px;
        background: url(images/w256h2561346685464Refresh.png);
        color: black;
        width: 100px;
        height: 30px;
        background-image: -webkit-gradient(linear,left top,left bottom,from(#FF8C00 ),to(#FFEC8B));
        background-image: -webkit-linear-gradient( #FF8C00,#FFEC8B);
        background-image: -moz-linear-gradient( #FF8C00,#FFEC8B);
        background-image: -ms-linear-gradient( #FF8C00,#FFEC8B);
        background-image: -o-linear-gradient(#FF8C00,#FFEC8B);
        background-image: linear-gradient( #FF8C00,#FFEC8B);
    }


div.hr_line_up {
    border-top: 1px solid lightgray;
    padding-top: 20px;
    height: 0px;
}

.footer_sidebar_set {
    border-top: 1px solid lightgray;
    padding-top: 10px;
    padding-bottom: 10px;
    left: 0px;
    height: 22px;
    _position: fixed;
    position: absolute;
    font-family: Helvetica,Arial,sans-serif;
    border-left-width: 0;
    border-right-width: 0;
    zoom: 1;
    z-index: 9999;
}

.left_sidebar_set {
    left: 0px;
    /*position: fixed;*/
    _position: absolute;
    font-family: Helvetica,Arial,sans-serif;
    border-left-width: 0;
    border-right-width: 0;
    zoom: 1;
    z-index: 9999;
    border: 1px solid lightgray;
}

a.button {
    color: black;
    border-bottom: 2px solid gray;
    border-right: 2px solid gray;
    border-radius: 5px;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#FF8C00 ),to(#FFEC8B));
    background-image: -webkit-linear-gradient( #FF8C00,#FFEC8B);
    background-image: -moz-linear-gradient( #FF8C00,#FFEC8B);
    background-image: -ms-linear-gradient( #FF8C00,#FFEC8B);
    background-image: -o-linear-gradient(#FF8C00,#FFEC8B);
    background-image: linear-gradient( #FF8C00,#FFEC8B);
    display: block;
    color: #555555;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    margin-bottom: 20px;
    margin-top: 10px;
    text-decoration: none;
    width: 160px;
    font-size: 14px;
}

a:hover.button {
    color: #0066CC;
}

a.button:active {
    background: no-repeat;
    color: black;
    border-top: 2px solid gray;
    border-left: 2px solid gray;
    border-bottom: 0px solid white;
    border-right: 0px solid white;
    border-radius: 5px;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#FF8C00 ),to(#FFEC8B));
    background-image: -webkit-linear-gradient( #FF8C00,#FFEC8B);
    background-image: -moz-linear-gradient( #FF8C00,#FFEC8B);
    background-image: -ms-linear-gradient( #FF8C00,#FFEC8B);
    background-image: -o-linear-gradient(#FF8C00,#FFEC8B);
    background-image: linear-gradient( #FF8C00,#FFEC8B);
    display: block;
    color: #555555;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    text-decoration: none;
    width: 160px;
}

.refresh {
    background: url("/Images/refresh2.png") no-repeat 20px 5px;
    background-size: 20px 20px;
    text-indent: 20px;
    display: block;
    margin: 0 auto;
}

.position_button {
    width: 160px;
    margin: 0 auto;
    text-align: center;
}

/* Kiril styles */

#ReportingFormTab {
    display: table;
    overflow: scroll;
}

#BlockForm {
    display: table-cell;
    padding: 10px;
    vertical-align: top;
}

#BlockContent {
    /*display: table-cell;*/
    display: none;
    width: 100%;
    height: auto;
    border: 1px solid black;
    padding: 10px;
    vertical-align: top;
    text-align: center;
}

    #BlockContent h1 {
        margin-top: 0;
    }

/* АЛЁХИН КИРИЛЛ */

#NestedSplitter a {
    color: #0000FF;
}

    #NestedSplitter a:hover {
        text-decoration: underline;
        color: #6495ED;
    }

.invisible-elem {
    display: none;
}

.paramRegSelectLabel {
    float: left;
    padding: 5px 10px;
    width: 145px;
}


/*Панель приборов*/
.innerContainer {
    overflow: visible !important;
}


#DashboardContainer {
    display: table;
}

#DashboardContent {
    display: table-row;
}

#dataPanelTop {
    display: table-cell;
    width: 100%;
}

#dataTableContainer {
    display: table-cell;
    min-width: 400px;
    vertical-align: top;
    border: 1px solid #d4d4d4;
    
}

#rightPanel { 
    min-width: 900px;
}


/***********ЛОГИ**********/

#logs-wrapper {
    width: 50%;
    padding: 20px;
    border: 1px solid #d5d5d5;
    margin: 0 auto;
    margin-top: 20px;

}

#logs-wrapper h1{
    font-family: Helvetica,Arial,sans-serif;
    font-weight: bold;
}

#logs-container {
    font-family: Helvetica,Arial,sans-serif;
}

#foot-page {
    height: 60px;
}


/*************************/

.time-form {
    margin-bottom: 2%;
    float: left;
    margin-right: 40px;
}

.alert-color {
    padding-right: 15px;
    height: 5px;
    width: 10px;
    margin-bottom: 5px;
    margin-right: 10px;
}

.row-alert-info {
    height: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}


/*ФОРМА НАВИГАЦИИ ОТЧЕТОВ ЗА ПЕРИОД*/

#reportsNavigationBar {
    margin: 15px;
    
}

#reportsNavigationBar .jqx-expander-content-bottom {
    overflow-y: hidden !important;
}

#listbox {
    
    border-color: #fff;
    height: 200px !important;
}